{%extends 'basetemp.html'%}

{% block title %}
登陆
{% endblock %}

{% block style %}
        body {
            color: #666;
            height :100%;
        }
        html {
            height: 100%;
        }
        .login_top{
            padding-top:120px;
            padding-bottom:30px;
        }
        .login_logo {
            margin: 80px;
        }



        .login_form {
            width: 500px;
            height:480px;
            margin: 30px 0 0 30px;
            float: left;
            position: static;
        }
        .fr {
            float: right;
        }
        .login_title {
            height: 60px;
            width: 308px;
            margin: 10px auto;
            border-bottom: 1px solid #e0e0e0;
        }
        .login_title h1 {
            font-size: 24px;
            height: 60px;
            line-height: 60px;
            color: #ffffff;
            float: left;
            font-weight: bold;

            margin:0 0 0 0px;
        }
        .login_title a {
            color: #dddddd;
            text-align: center;
            height: 60px;
            line-height: 60px;

        }
        .login_title p {

            color: #dddddd;
            text-align: center;
            height: 60px;
            line-height: 60px;

        }
        .form_input {
            width: 308px;
            height: 250px;
            margin: 20px auto;
            position: relative;
        }
        .name_input, .pass_input {
            width: 306px;
            height: 36px;
            border: 1px solid #e0e0e0;
            background:  280px -41px no-repeat #ffffff;
            outline: none;
            font-size: 14px;
            text-indent: 10px;
            position: absolute;
            left: 0;
            top: 0;
        }
        .user_error, .pwd_error {
            color: #f00;
            position: absolute;
            left: 0;
            top: 43px;
            display: none;
        }
        .pass_input {
            top: 65px;
            background-position: 280px -95px;
        }
        .more_input {
            left: 0;

            width: 100%;
        }
        .more_input input {
            float: left;
            margin-top: 10px;
        }
        .more_input label {
            float: left;
            margin: 10px;
            color: #ffffff;

        }
        .more_input a {
            float: right;
            margin: 10px;
            color:#ffffff;
        }
        .more_input p {
            float: right;
            color:#ffffff;
        }
        .input_submit {
            width: 100%;
            height: 40px;
            left: 0;
            top: 180px;
            background-color: #0f88eb;
            color: #fff;
            font-size: 22px;
            border: 0px;
            border-radius: 2px;
            cursor: pointer;
        }
        #masthead {

            text-align: left;
            background-image: url(/static/picture/p4.png);
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
            height: 100%;
        }
        .bs-example {
            border-width:0;
            border-radius: 10px;
            background-color:rgba(0, 0, 0, 0.15);
        }
        #navbarsp{
            margin-bottom: 0px;
        }
        span#usererror, #passerror, #error {
            color: #d43f3a;
            float: left;
            height: 40px;
            line-height: 40px;
        }
        #checkbox {
        line-height: 22px;
        height :22px;
        }
{% endblock  %}

{%  block body %}
<div id="masthead">

    <div class="login_top clearfix">
        <a href="" class="login_logo"><img src="../static/picture/stu-logo-new.png"></a>
    </div>
    <div class="container">


        <div class="login_form fr">
            <div class="bs-example">
                <div class="login_title clearfix">

                    <div>
                        <h1 style="text-align:left">用户登录</h1>
                        <p>没有账号？请<a href="/register/">注册</a></p>
                    </div>
                </div>
                <div class="form_input">
                    <form id="form-post" onsubmit="return checkInput()" action="/inputpwd/" method="POST">
                        {% csrf_token %}
                        <div>
                            <label>
                                {{ email }}
                            </label>
                        </div>
                        <div>
                            <input type="password" class="form-control" id="username" name='pwd1'  class="name_input" placeholder="请输入密码">
                            <span id="usererror"></span>
                            <br>
                        </div>
                        <br>
                            <div>
                            <input type="password" class="form-control" id="password" name='pwd2' class="pass_input" placeholder="请再次输入密码" >
                            <span id="passerror">{{login_err}}</span>
                            <br>
                                <span id="passerror">{{ msg }}</span>
                            <br>
                        </div>
                        <br>
                        <br>
                        <br>
                        <input type="submit" name="" value="重置密码" class="input_submit">
                    </form>

                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<script>
    function checkInput () {
        var nameinput = document.getElementById('username');
        var passinput = document.getElementById('password');
        if (nameinput.value.length === 0) {
            document.getElementById('usererror').innerHTML = "密码不能为空";
            return false;
        }
        else {
            document.getElementById('usererror').innerHTML = "";
            if (passinput.value.length === 0) {
                document.getElementById('passerror').innerHTML = "密码不能为空";
                return false;
            }
            else {
                return true;
            }
        }
    }
</script>

{%endblock%}