{% extends 'base.html' %}
{% block title %}
  发表新的帖子
{% endblock %}

{% block style %}
        .border{
            border:0px solid #ffffff;
        }
        p{
            white-space:pre-wrap;
            word-wrap:break-word;
            word-break:break-all;
        }
        #hrs{
            margin:0px;
        }
        body{
            background-color:#edf1f4;
        }
        textarea{
                resize:none;
        }
        #title{
               width:30%;
        }
        span#error1,#error2 {
            color:#d43f3a;
        }
{% endblock %}
{% block body %}
<script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
	mode : "textareas",
    theme: 'modern',
     plugins: 'print preview fullpage searchreplace autolink directionality visualblocks visualchars fullscreen image link media template codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists textcolor wordcount imagetools contextmenu colorpicker textpattern help emoticons',
  toolbar1: 'formatselect | bold italic strikethrough forecolor backcolor | link | alignleft aligncenter alignright alignjustify  | numlist bullist outdent indent  | removeformat | emoticons',
  image_advtab: true,
});
</script>

<div class="container">
    <div class="bs-example">
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">发表帖子</li>
            </ol>
        </div>
        <hr>
        <br>

        <div class="container">
            <form method="post" action="/sub_article/" onsubmit="return checkInput()">
                <div class="form-group" style="width:30%">
                    <label for="partition">板块分区</label>
                    <select class="form-control" id="partition" name="category">
                        {% for category in bbs_category %}
                             <option>{{ category.name}}</option>
		               {%endfor%}
                    </select>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label for="title">标题</label>
                    <input type="text" class="form-control" id="title" placeholder="请输入标题" name="title">
                    <br>
                    <span id="error1"></span>
                    <br>
                </div>
                <br>
                <div class="form-group">
                    <label for="post">文章</label>
                    <textarea rows="10" class="form-control" id="post" placeholder="拿起键盘就是写！" name="content"></textarea>
                    <br>
                    <span id="error2"></span>
                    <br>
                </div>
                <br>

                <button class="btn btn-info" type="submit" style="float:right">发表</button>
            </form>
        </div>
    </div>
</div>

<script>
    function checkInput() {
        var input1 = document.getElementById('title');
        var input2 = document.getElementById('post');
        if (input1.value.length === 0) {
            document.getElementById('error1').innerHTML = "标题不能为空！";
            return false;
        }
        else if (input1.value.length > 55){
            document.getElementById('error1').innerHTML = "标题不能超过40个字";
            return false;
        }
        else {
            document.getElementById('error1').innerHTML = "";
            if (input2.value.length >= 50) {
                alert('Submited2!');
                return true;
            }
            else {
                document.getElementById('error2').innerHTML = "帖子内容最少输入30个字！";
                return false;
            }
        }


    }
</script>


{% endblock %}