{% extends 'base.html' %}

{% block title %}
{{ article_obj.title }}
{% endblock %}
{% block style %}
        .border{
            border:1px solid #ffffff;
        }
        p{
            white-space:pre-wrap;
            word-wrap:break-word;
            word-break:break-all;
        }
            textarea{
            resize:none;
        }
        body {
            background-color:#edf1f4;
        }
        span#error {
            color: #d43f3a;
        }
{% endblock %}
{% block body %}
    {% load comments %}
    {% get_comment_count for article_obj as comment_count %}
    {% get_comment_list for article_obj as comment_list   %}
<div class="container">
    <div class="bs-example">
    <div class="container">
                <ol class="breadcrumb" style="background-color:#ffffff">
                    <li><a href="/">首页</a></li>
                    <li><a href="/partition/{{ article_obj.category_id }}">{{ article_obj.category }}</a></li>
                    <li class="active">{{ article_obj.title }}</li>
            </ol>
    <hr>
    <h3 style="margin-left:215px"><b>{{ article_obj.title }}</b></h3>
    <div>
        <div class="border" style="width:20%; text-align:center; float:left; min-height:150px;">
            <br>
            <a href="#"><img src="{{ article_obj.author.headImage.url }}" alt="个人头像" class="img-rounded" style="height:80px; width:80px;"></a>
            <br>
            <a href="{% url 'personalProfile:personalProfileMain' article_obj.author.user.pk %}"><h5 align="center">{{ article_obj.author }}</h5></a>
        </div>
        <div class="border" style="width:80%; float:left; min-height:150px;">
            <br>
            {% autoescape off %}
            {{ article_obj.content }}
            {% endautoescape %}
        </div>
    </div>


    <hr>

    <br>
    <br>
    <div class="border" style=" width:100%; float:left">
        <h6 style="text-align:right">{{ article_obj.publish_date }}</h6>
    </div>
    <div style="text-align:right;">
        <a href="" id="like" style="display:inline" onclick="return likebtn()"><span class="glyphicon glyphicon-heart-empty"><b> 收藏</b></span></a>
        <a href="" id="dislike" style="display:none" onclick="return likebtn()"><span class="glyphicon glyphicon-heart"><b> 已收藏</b></span></a>
    </div>

</div><!--container-->

{%for comment in comment_list%}
  <div class="container" style="background-color:#ffffff">
    <hr style="margin-top:10px">
    <div>
        <div class="border" style="width:20%; text-align:center; float:left; min-height:150px;">
            <br>
            <a href="#"><img src="/static/picture/zwei_art.jpg" alt="个人头像" class="img-rounded" style="height:80px; width:80px;"></a>
            <br>
            <a href="#"><h5>{{comment.name}} </h5></a>
        </div>
        <div class="border" style="width:80%; float:left; min-height:150px;">
<p>
{{comment.comment|safe}}
</p>                <!--注意！！！在获取评论时，表达式要紧贴左边线，不要在前面加任何缩进和空格，有的话就删掉-->
        </div>
    </div>

    <div class="border" style=" width:100%; float:left">
        <h6 style="text-align:right">{{comment.submit_date}}</h6>
    </div>
</div>

{%endfor%}
    </div><!--bs-example-->
</div><!--container-->


    <div class="container">
    <h6>共有 {{ comment_count }} 条评论.</h6>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>                  <!--class="disabled"为不可选取状态，active为已选取（当前页面）状态-->
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <br>
<script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
tinymce.init({
	mode : "textareas",
     plugins: 'emoticons',
  toolbar1: 'bold italic strikethrough forecolor |removeformat | emoticons',
});
</script>
        {%if user.is_authenticated%}
        <form action="/sub_comment/" method="POST" onsubmit="return checkInput()">
            <textarea class="form-control" rows="8" placeholder="发表你的高见" name="comment_content" id="textinput"></textarea>
                 <input type="hidden" name="article_id" value="{{article_obj.id}}"/>
                <br>
                    <span id="error"></span>
                <br>
            <button class="btn btn-info" type="submit" style="float:right" value="Add comment" id="id_submit">评论回复</button>
        </form>
        {%else%}
			   <p>Please <a href='/login/'>Login</a> to sumbit a comment!</p>
        {%endif%}
    </div>

<script>
    function checkInput() {
        var input = document.getElementById('textinput');
        if (input.value.length < 10) {
            document.getElementById('error').innerHTML = "最少输入10个字!";
            return false;
        }
        else {
            return true;
        }

    }

    function likebtn() {
        var islike = document.getElementById('like');
        var isdislike = document.getElementById('dislike');
        if (islike.style.display !== "none") {
            islike.style.display = "none";
            isdislike.style.display = "inline";
            return false;
        }
        else {
            islike.style.display = "inline";
            isdislike.style.display = "none";
            return false;
        }
    }
</script>

{% endblock %}


