<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/icon/bbs1.png">

    <title>汕大郁金香主页</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">汕大郁金香</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">首页</a></li>
            <li><a href="#partition">分区</a></li>
            <form class="navbar-form navbar-left">
              <input type="text" class="form-control" placeholder="搜你想要的">
              <button type = "submit" class = "btn btn-primary">搜索</button>
            </form>

          </ul>
          <ul class="nav navbar-nav navbar-right nav-pills">
            <!--<div class = "navbar-header">
              <a class = "navbar-brand">
                <li><img src = "picture/zwei_art.jpg/100x100" class = "img-thumbnail"></li>
              </a>
            </div>-->
            <li>
              <a href="#">评论回复
                <span class = "badge">12</span>
              </a>
            </li>                                           <!--12、5 为评论回复数和悄悄话数显示，由badge类实现-->
            <li>
              <a href="#">悄悄话
                <span class = "badge">5</span>
              </a>
            </li>
            <li class="dropdown" >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">(用户名)<span class="caret"></span></a>
              <ul class="dropdown-menu" style = "text-align:center">
                <li><a href="#">个人空间</a></li>                                <!--用户个人空间入口-->
                <li role="separator" class="divider"></li>
                <li class="dropdown-header"></li>
                <li><a href="#">注销</a></li>                                   <!--注销功能-->
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>欢迎来到汕大郁金香论坛</h1>
        <br>
        <br>
        <br>
        <p></p>
      </div>


      <div class="page-header">
        <h1>板块分区</h1>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style = "text-align:center"><a href = "">{{bbs_category_one.name}}</a></h3>
            </div>
            <div class="panel-body">
            {% for bbs in bbs_list1|slice:":5"  %}
			<a href="#">  {{bbs.title}}</a>
			  <br>
                <br>
		  {%endfor%}
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style = "text-align:center"><a href = "">{{ bbs_category_two }} </a></h3>
            </div>
            <div class="panel-body">
                 {% for bbs in bbs_list2|slice:":5" %}
			    <a href="#">  {{bbs.title}}</a>
			  <br>
		  {%endfor%}
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title" style = "text-align:center"><a href = "">{{bbs_category_three.name}}</a></h3>
            </div>
            <div class="panel-body">
             {% for bbs in bbs_list3|slice:":5"  %}
			<a href="#">  {{bbs.title}}</a>
			  <br>
		  {%endfor%}
          </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title" style = "text-align:center"><a href = "">{{bbs_category_four.name}}</a></h3>
            </div>
            <div class="panel-body">
          {% for bbs in bbs_list4|slice:":5" %}
			<a href="#">  {{bbs.title}}</a>
			  <br>
		  {%endfor%}
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title" style = "text-align:center"><a href = "">{{bbs_category_five.name}}</a></h3>
            </div>
            <div class="panel-body">
              {% for bbs in bbs_list5|slice:":5" %}
			<a href="#">  {{bbs.title}}</a>
			  <br>
		  {%endfor%}
            </div>
          </div>
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title" style = "text-align:center"><a href = "">{{bbs_category_six.name}}</a></h3>
            </div>
            <div class="panel-body">
           {% for bbs in bbs_list6|slice:":5"  %}
			<a href="#">  {{bbs.title}}</a>
			  <br>
		  {%endfor%}
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
    </div> <!-- /container -->






   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
