{% extends 'base.html' %}
{% block title %}
汕头大学论坛
{% endblock %}
{% block body %}

     <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:300px; overflow:hidden">                 <!--图片滚动播放，图片宽度最好在1200px以上且每张图片的高宽比保持一致-->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="/static/picture/hyouka5.jpg"  alt="Hyouka">
            </div>
            <div class="item">
              <img src="/static/picture/hyouka2.jpg"  alt="Second slide">
            </div>
            <div class="item">
              <img src="/static/picture/hyouka3.jpg"  alt="Third slide">
            </div>
            <div class="item">
              <img src="/static/picture/hyouka6.jpg"  alt="Hyouka">
            </div>
            <div class="item">
              <img src="/static/picture/hyouka7.jpg"  alt="Hyouka">
            </div>
          </div>
          <a class="carousel-control left" href="#carousel-example-generic"
             data-slide="prev">&lsaquo;
          </a>
          <a class="carousel-control right" href="#carousel-example-generic"
             data-slide="next">&rsaquo;
          </a>
          <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>-->
        </div>

      <div class="page-header">
        <h3>板块分区</h3>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style = "text-align:center"><a href = "/partition/{{bbs_category_one.id}}">{{bbs_category_one.name}}</a></h3>
            </div>
            <div class="panel-body">
              {% for bbs in bbs_list1|slice:"5" %}
                  <a href="/article/{{bbs.id}}">  {{bbs.title}}</a>
			  <br><br>
		  {%endfor%}
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style = "text-align:center"><a href = "/partition/{{bbs_category_two.id}}">{{bbs_category_two.name}}</a></h3>
            </div>
            <div class="panel-body">
              {% for bbs in bbs_list2|slice:"5" %}
		 <a href="/article/{{bbs.id}}">  {{bbs.title}}</a>
			  <br><br>
		  {%endfor%}
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style = "text-align:center"><a href ="/partition/{{bbs_category_three.id}}">{{bbs_category_three.name}}</a></h3>
            </div>
            <div class="panel-body">
              {% for bbs in bbs_list3|slice:"5" %}
			 <a href="/article/{{bbs.id}}">  {{bbs.title}}</a>
			  <br><br>
		  {%endfor%}
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style = "text-align:center"><a href = "/partition/{{bbs_category_four.id}}">{{bbs_category_four.name}}</a></h3>
            </div>
            <div class="panel-body">
                 {% for bbs in bbs_list4|slice:"5" %}
                     <a href="/article/{{bbs.id}}">  {{bbs.title}}</a>
			  <br><br>
		  {%endfor%}
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style = "text-align:center"><a href = "/partition/{{bbs_category_five.id}}">{{bbs_category_five.name}}</a></h3>
            </div>
            <div class="panel-body">
                 {% for bbs in bbs_list5|slice:"5" %}
		 <a href="/article/{{bbs.id}}">  {{bbs.title}}</a>
			  <br><br>
		  {%endfor%}
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title" style = "text-align:center"><a href = "/partition/{{bbs_category_six.id}}">{{bbs_category_six.name}}</a></h3>
            </div>
            <div class="panel-body">
             {% for bbs in bbs_list6|slice:"5" %}
		 <a href="/article/{{bbs.id}}">  {{bbs.title}}</a>
			  <br><br>
		  {%endfor%}
            </div>
          </div>
        </div><!-- /.col-sm-4 -->
      </div>
    </div> <!-- /container -->








{% endblock %}

